
    <form class="form-group text-center m-5" method="POST" action="/user/host/hotel/modify/changed" enctype="multipart/form-data">
        <input type="hidden" value="{{posts._id}}" name="id"/>

            <label>Name of hotel: </label>
            <input class="form-control" placeholder="before: {{posts.name_hotel}}" value="{{posts.name_hotel}}" name="name" required="required"/>

            <br/>
            <label>Image of hotel: </label>
            <input type="file" class="form-control" required="required" name="image-file" />

            <br/>
            <label>Region of world: </label>
            <select class="form-control" name="region" required="required">
                <option></option>
                <option value="Europa">Europa</option>
                <option value="SA">South America</option>
                <option value="NA">North America</option>
                <option value="Asia">Asia</option>
                <option value="Africa">Africa</option>
            </select>

            <label>Rating Stars: </label>
            <input type="text" placeholder="Insert your rating here... " value="{{posts.stars_hotel}}" name="rating" required="required" class="form-control"/>

            <label>Stadia: (in dollars USD$)</label>
            <input type="text" placeholder="Insert stadia for day... " value="{{posts.stadia_hotel}}" name="stadia" required="required" class="form-control"/>

            <br/>
            <article class="card">
                <section class="card-body">
                    <section id="map"></section>
                </section>
                <footer class="card-footer">
                    <input type="text" readonly placeholder="longitude" id="longitudeinput" value="{{posts.longitude_hotel}}" name="longitude" class="longitudeinput form-control m-2" required="required"/>
                    <input type="text" readonly id="latitudeinput" placeholder="latitude" name="latitude" value = "{{posts.latitude_hotel}}" class="latitudeinput form-control m-2" required="required"/>
                </footer>
            </article>

            <section>
                <textarea class="form-control" name="description" value="{{posts.description}}"placeholder="{{posts.description}}"></textarea>
            </section>

            <button type="submit" class="btn btn-primary"><i class="fas fa-check"></i>Change values of hotel </button>
    </form>
