<nav class="nav navbar-collapse navbar-expand-lg navbar-light fixed-top bg-light">
    <a class="nav navbar-brand m-2 ml-4 mr-5" href="/"><h3><i class="fab fa-airbnb color-red"></i></h3></a>
    <span class="input-group-prepend">
        <span class="input-group-text bg-light mt-2">
            <h7><i class="fas fa-search"></i></h1>
        </span>
    </span>
    <input type="search" class="form-control col-3 mt-3 mr-3 mb-2 searchbar" name="searchbar" placeholder="search localizations here... "/>
    <a class="nav navbar-toggler ml-auto" data-target="#menuresponsive" data-toggle="collapse">
        <i class="nav navbar-toggler-icon"></i>
    </a>
    <nav class="ml-auto m-2">
        <ul class="nav navbar-nav collapse navbar-collapse" id="menuresponsive">
            <li class="nav-item m-2"><a class="nav-link link-onmouse" href="#">Help</a></li>
            {{#if user.isAdmin}}
                <li class="nav-item m-2"><a class="nav-link link-onmouse" href="/user/host/view/hotel/{{user._id}}">View hotels </a></li>
                <li class="nav-item m-2"><a class="nav-link link-onmouse" href="/user/host/view/restaurant/{{user._id}}">View rest </a></li>
                <li class="nav-item m-2"><a class="nav-link link-onmouse" href="/user/host/hotel">Host a new hotel </a></li>
                <li class="nav-item m-2"><a class="nav-link link-onmouse" href="/user/host/restaurant">Host a new restaurant </a></li>
                <li class="nav-item m-2"><a class="nav-link link-onmouse" href="/user/logout">Logout </a></li>
                {{else}}
                    {{#if user}}
                        <li class="nav-item m-2"><a class="nav-link link-onmouse" href="#">Travels</a></li>
                        <li class="nav-item m-2"><a class="nav-link link-onmouse" href="/user/loves/{{user._id}}">Loved</a></li>
                        <li class="nav-item m-2"><a class="nav-link link-onmouse" href="#">{{user.name_user}} <i class="fas fa-user"></i></a></li>
                        <li class="nav-item m-2"><a class="nav-link link-onmouse" href="/user/logout">Logout </a></li>
                    {{else}}
                        <li class="nav-item m-2"><a class="nav-link link-onmouse" href="/user/host/register">Become a host</a></li>
                        <li class="nav-item m-2"><a class="nav-link link-onmouse" href="/user/register">Register</a></li>
                        <li class="nav-item m-2"><a class="nav-link link-onmouse" href="/user/login">Login </a></li>
                    {{/if}}
            {{/if}}
        </ul>
    </nav>
</nav>
