<article class="row mt-5 m-auto">
    <br/>
    <h1 class="col-xl-12 col-lg-12 col-md-12 col-sm-12 text-center mt-5">Hotel(s) and restaurants that you give like(s)</h1>
    {{#each loved}}
        {{#if isHotel}}
            <section class="card card-custom m-4 col-xl-3 col-lg-4 col-md-12 col-sm-12">
                <header class="card-header">{{name_hotel}}</header>
                <section class="card-body">
                    <img class="img-fluid rounded" src="/uploads/{{image_hotel}}"/>
                </section>
                <footer>
                    <a href="/user/hotel/page/{{id_hotel}}" class="m-2">
                        <button type="button" class="btn btn-primary text-center m-5">Acess this Hotel</button>
                    </a>
                </footer>
            </section>
            {{else}}
                <section class="card card-custom m-4 col-xl-3 col-lg-4 col-md-12 col-sm-12">
                    <header class="card-header">{{name_hotel}}</header>
                    <section class="card-body">
                        <img class="img-fluid rounded" src="/uploads/{{image_hotel}}"/>
                    </section>
                    <footer>
                        <a href="/user/restaurant/page/{{id_hotel}}" class="m-2">
                            <button type="button" class="btn btn-primary text-center m-5">Acess this restaurant</button>
                        </a>
                    </footer>
                </section>
        {{/if}}
        {{else}}
            <section class="jumbotron">
                <h3>We can't find any hotel or restaurants that you give like<br/> sorry :(</h3>
            </section>
    {{/each}}
</article>
